appnope
asgiref
backcall
decorator
Django==3.2.4
django-cors-headers
django-extensions
django-filter
djangorestframework
ipython
ipython-genutils
jedi
matplotlib-inline
numpy
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
Pygments
python-dateutil
pytz
six
sqlparse
traitlets
wcwidth
